# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/
.venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Conda
*.conda
*.condarc
/envs/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
